@import "_reset";
@import "_variables";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    color: $gunmetalcolor;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.site_container {
    max-width: 1110px;
    margin-top: 25px;
    margin-bottom: 80px;
    padding: 0 12px;
    @include flex-column()
}

header {
    max-width: 1110px;
    height: 28px;
    @include flex-between();
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    row-gap: 64px;
}

.future_section {
    grid-column: span 4;
    @include flex-column();
    gap: 24px;
}

.future_article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
}

.future_article div {
    grid-row: 2;
    grid-column: span 4;
    @include flex-column();
    gap: 24px;
}

.future_article p {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.625rem;
}

.w_logo {
    width: 45px;
    height: 100%;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.puzzle_image_container {
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header_nav {
    display: none;
}

.header_nav div {
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.625rem;
    &:hover {
        cursor: pointer;
        color: $vermillioncolor;
    }
}

.lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 20;
}

.sidebar {
    width: 256px;
    height: 100%;
    z-index: 50;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition-duration: 1s;
    background-color: white;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
   
    img {
        grid-column-start: 4;
        grid-row: 1;
        align-items: center;
        text-align: center;
    }
    .sidebar_nav {
        color: $darkspaceblue;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        display: grid;
        gap: 24px;
        grid-row: 3;
        div {
            &:hover {
                cursor: pointer;
                color: $vermillioncolor;
            }
        }
    }    
}

.close {
    cursor: pointer;
}

.sidebar_open {
    transform: translateX(0);
}

.hidden {
    visibility: hidden;
}

.new_container {
    background-color: $darkspaceblue; 
    grid-column: span 4;
    padding: 24px 21px;
    @include flex-column();
    gap: 35px;
        div {
            @include flex-column();
            gap: 31px;
            article {
                @include flex-column();
                gap: 5px;
                p {
                    color: $silvercolor;
                    font-size: 0.938rem;
                    font-weight: 400;
                    line-height: 1.538rem;
                }
            }
        }
}

.border {
    border-bottom: 1px solid rgba(94,96,122, 0.5);
    padding-bottom: 29px;
}

button {
    width: 185px;
    height: 48px;
    background-color: $vermillioncolor;
    color: #FFFDFA;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.273rem;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: $darkspaceblue;
    }
}

footer {
    width: 100%;
    height: 451px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    margin-top: 64px;
    article {
        display: flex;
        gap: 24px;
        img {
            width: 100px;
            height: 127px;
        }
        div {
            p {
                font-size: 0.938rem;
                font-weight: 400;
                line-height: 1.625rem;
            }
        }
    }
}

h1 {
    color: $darkspaceblue;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    width: 300px;
    grid-column: span 3;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: $goldcolor;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: $silvercolor;
}

h4 {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;
    color: var(--Almost-White, #FFFDFA);
    &:hover {
        cursor: pointer;
        color: $goldcolor;
    }
}

h5 {
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 2.5rem;
    color: $darkspaceblue;
    &:hover {
        cursor: pointer; 
        color: $vermillioncolor;
    }
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 680px) {

    .site_container {
        max-width: 1110px;
        margin-top: 89px;
        margin-bottom: 130px;
    }

    main {
        grid-template-columns: repeat(12, 1fr);
        margin-top: 55px;
        gap: 30px;
    }

    .header_nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: column;
        gap: 40px;
    }

    .new_container {
        padding: 32px 24px;
        grid-column: span 4;
            div {
                display: grid;
                article {
                    p {
                        color: $silvercolor;
                    }
                }
            }
    }

    .sidebar {
        display: none;
    }

    .future_section {
        grid-column: span 8;
    }

    .future_article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10px;
    }
    
    .future_article div {
        grid-row: 2;
        grid-column: span 4;
    }

    .future_article {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(8, 1fr);
        justify-content: space-between;
    }

    .future_article div {
        grid-row: 1;
        order: 2;
        @include flex-column();
        gap: 29px;
    }

    header {
        max-width: 1110px;
        height: 40px;
    }

    .w_logo {
        width: 64px;
    }

    h1 {
        grid-row: 1;
        grid-column: span 4;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .hamburger {
        display: none;
    }

    footer {
        width: 100%;
        height: 127px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 71px;
        article {
            display: flex;
            gap: 24px;
            img {
                width: 100px;
                height: 127px;
            }
            div {
                p {
                    font-size: 0.938rem;
                    font-weight: 400;
                    line-height: 1.625rem;
                }
            }
        }
    }
}
