/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #5E607A;
  font-family: "Inter", sans-serif;
}

.site_container {
  width: 343px;
}

header {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w_logo {
  width: 45px;
  height: 100%;
}

.hamburger {
  display: block;
}

.puzzle_image_container {
  width: 343px;
  height: 300px;
}
.puzzle_image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: none;
}

nav div {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.625rem;
}
nav div:hover {
  cursor: pointer;
  color: #F15D51;
}

button {
  width: 185px;
  height: 48px;
  background-color: #F15D51;
  color: #FFFDFA;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.273rem;
}

h1 {
  color: #00001A;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #E9AA52;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #C5C6CE;
}

h4 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--Almost-White, #FFFDFA);
}
h4:hover {
  cursor: pointer;
  color: #E9AA52;
}

h5 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 2.5rem;
  color: #00001A;
}
h5:hover {
  cursor: pointer;
  color: #F15D51;
}

@media screen and (min-width: 680px) {
  .site_container {
    width: 1110px;
  }
  header {
    width: 1110px;
    height: 40px;
  }
  .w_logo {
    width: 64px;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .puzzle_image_container {
    width: 730px;
  }
  .hamburger {
    display: none;
  }
  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */